body {
    /*Off the clock*/
    background-color: #18181b; /*Dark gray*/
    /*Work time*/
    /*background-color: #991b1b;*/ /*Red*/
    /*Short break*/
    /*background-color: #2e1065;*/ /**Dark purple/
    /*Long break*/
    /*background-color: #0369a1;*/ /*Mid Sky blue*/
}
#primary-btn-flex {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#set-info-UI-display{
    position:relative;
}

#color-bar {
    position: absolute;
    top: 20%;
    left:38%;
    width: 25vw;
    /*background-color: #7c0a02;*/
    background-color: #18181b;
/*    border-radius: 10% 10% 10% 10%;*/
    transform:scaleY(50%);
    animation: activity-in-progress infinite 4s ease-in-out normal;
}

@keyframes activity-in-progress {
    /*Work*/
    0% {
        background-color: #7c0a02;
    }
    50% {
        background-color: #c80202;
    }
    100% {
        background-color: #7c0a02;
    }
    /*Short break*/
/*    0% {
        background-color: #400ca0;
    }
    50% {
        background-color: #300070;
    }
    100% {
        background-color: #400ca0;
    }*/
    /*Short break (option 2)*/
/*    0% {
        background-color: #6b6200;
    }
    50% {
        background-color: #baaa01;
    }
    100% {
        background-color: #6b6200;
    }*/
    /*Long break*/
/*    0% {
        background-color: #01537f;
    }
    50% {
        background-color: #0074b2;
    }
    100% {
        background-color: #01537f;
    }*/
}
@keyframes pulse {
    0%{
        background-color: yellow;
    }
    50%{
        background-color: orange;
    }
    100%{
        background-color: red;
    }
}

.btn-custom-start {
    background-color: #166534;
    color: white;
}

.btn-custom-start:hover {
    color: #d6d3d1;
}

.btn-custom-stop {
    background-color: #991b1b;
    color: white;
}

.btn-custom-stop:hover {
    color: #d6d3d1
}

.custom-cancel-btn {
    background-color: #a16207;
    color: white;
}

.custom-cancel-btn:hover {
    color: #d6d3d1;
}