body {
    /*Off the clock*/
    background-color: #18181b; /*Dark gray*/
    /*Work time*/
    /*background-color: #991b1b;*/ /*Red*/
    /*Short break*/
    /*background-color: #2e1065;*/ /**Dark purple/
    /*Long break*/
    /*background-color: #0369a1;*/ /*Mid Sky blue*/
}

.btn-custom-start {
    background-color: #166534;
    color: white;
}

.btn-custom-start:hover {
    color: #d6d3d1;
}

.btn-custom-stop {
    background-color: #991b1b;
    color: white;
}

.btn-custom-stop:hover {
    color: #d6d3d1
}

.custom-cancel-btn {
    background-color: #a16207;
    color: white;
}

.custom-cancel-btn:hover {
    color: #d6d3d1;
}