@page "/ChangeTimer"

<h3 class="mb-5">Change Timer</h3>
<EditForm Model="SettingsVM" OnValidSubmit="@SaveChanges" FormName="UpdateTimerInfo">

    <div class="mb-4">
        <label class="text-white col-sm-4 col-form-label">Work Time</label>
        <div class="d-flex flex-row">
            <InputText class="rounded-3" inputmode="numeric" pattern="^[0-5]?[0-9]$" size="2" maxlength="2" placeholder="min" @bind-Value="SettingsVM.PomSetInput.WT_Minutes" required></InputText>
            <span class="flex-shrink-1 text-white fw-bolder">:</span>
            <InputText class="rounded-3" inputmode="numeric" pattern="^[0-5]?[0-9]$" size="2" maxlength="2" placeholder="sec" @bind-Value="SettingsVM.PomSetInput.WT_Seconds" required></InputText>
        </div>
    </div>

    <div class="mb-4">
        <label class="text-white col-sm-4 col-form-label">Short break time</label>
        <div class="d-flex flex-row">
            <InputText class="rounded-3" inputmode="numeric" pattern="^[0-5]?[0-9]$"  size="2" maxlength="2" placeholder="min" @bind-Value="SettingsVM.PomSetInput.SBT_Minutes" required></InputText>
            <span class="flex-shrink-1 text-white fw-bolder">:</span>
            <InputText class="rounded-3" inputmode="numeric" pattern="^[0-5]?[0-9]$" size="2" maxlength="2" placeholder="sec" @bind-Value="SettingsVM.PomSetInput.SBT_Seconds" required></InputText>
        </div>
    </div>

    <div class="mb-4">
        <label class="text-white col-sm-4 col-form-label">Reps before long break</label>
        <div class="d-flex flex-row">
            <InputNumber class="rounded-3" placeholder="any num 2 to 9" id="work-reps-input" @bind-Value="SettingsVM.PomSetInput.RepsBeforeLongBreak" min="2" max="9" pattern="^[2-9]{1}$" required></InputNumber>
        </div>
    </div>

    <div class="mb-4">
        <label class="text-white col-sm-4 col-form-label">Long break time</label>
        <div class="d-flex flex-row">
            <InputText class="rounded-3" inputmode="numeric" size="2" pattern="^[0-5]?[0-9]$" maxlength="2" placeholder="min" @bind-Value="SettingsVM.PomSetInput.LBT_Minutes" required></InputText>
            <span class="flex-shrink-1 text-white fw-bolder">:</span>
            <InputText class="rounded-3" inputmode="numeric" size="2" pattern="^[0-5]?[0-9]$" maxlength="2" placeholder="sec" @bind-Value="SettingsVM.PomSetInput.LBT_Seconds" required></InputText>
        </div>
    </div>

    @{
        if (DeviceInfo.Current.Platform == DevicePlatform.Android)
        {
            <div class="form-check form-switch">
                <label class="form-check-label" for="vibrateOnSessionEnd">Vibrate on timer expiration</label>
                <input class="form-check-input" @ontouchstart="RequestVibrationPermission" @bind-value="SettingsVM.VibrateOnSessionEnd" type="checkbox" role="switch" id="vibrateOnSessionEnd">
            </div>
        }
    }


    <button class="btn btn-custom-start mt-4" type="submit">Save</button>
</EditForm>