@page "/ChangeTimer"

<h3 class="mb-5">Change Timer</h3>
<EditForm Model="PomoSetWithTimerInfoOnly" OnValidSubmit="@ChangeTimerProps" FormName="UpdateTimerInfo">
    <div class="mb-4 row">
        <label for="worktime-input" class="col-sm-4 col-form-label">Work time</label>
        <div class="col-sm-4">
            <InputText id="worktime-input" @bind-Value="PomoSetWithTimerInfoOnly.WorkTime" class="form-control"></InputText>
        </div>
    </div>

    <div class="mb-4 row">
        <label for="short-break-input" class="col-sm-4 col-form-label">Short break time</label>
        <div class="col-sm-4">
            <InputText id="short-break-input" @bind-Value="PomoSetWithTimerInfoOnly.ShortBreak" class="form-control"></InputText>
        </div>
    </div>

    <div class="mb-4 row">
        <label for="work-reps-input" class="col-sm-4 col-form-label">Work reps (before long break)</label>
        <div class="col-sm-4">
            <InputNumber id="work-reps-input" @bind-Value="PomoSetWithTimerInfoOnly.RepsBeforeLongBreak" class="form-control"></InputNumber>
        </div>
    </div>

    <div class="mb-4 row">
        <label for="long-break-input" class="col-sm-4 col-form-label">Long break time</label>
        <div class="col-sm-4">
            <InputText id="long-break-input" @bind-Value="PomoSetWithTimerInfoOnly.LongBreak" class="form-control"></InputText>
        </div>
    </div>

    <button class="btn btn-custom-start mt-4" type="submit">Save</button>
</EditForm>
@code {

}
