@using CustomPomodoro.Components.Reusable;

@page "/ColorSettings"




<EditForm Model="ColorBarInputs" OnValidSubmit="@SaveColorChanges" FormName="UpdateColorSettings">

    <h4 class="mb-5">Background Colors</h4>

    <section class="d-flex flex-column mb-3">
                <SoloHSLControl
                    @ref="BgColorControls[0]"
                    Header="Timer not running"
                    Color="BgColorInputs.NoActivityBgColor"></SoloHSLControl>
            
                <SoloHSLControl 
                        @ref="BgColorControls[1]"
                        Header="Timer running"
                        Color="BgColorInputs.ActivityInProgressColor"></SoloHSLControl>
  
                <SoloHSLControl 
                        @ref="BgColorControls[2]"
                        Header="Timer paused"
                        Color="BgColorInputs.PausedActivityColor"></SoloHSLControl>
        <button type="button" class="btn default-values-btn" @onclick="GetDefaultBgColorValues">default colors</button>
    </section>


    <h4 class="mb-5 mt-5">Activity Bar Colors</h4>
    <br />
        <div class="form-check form-switch">
            <label class="form-check-label" for="advancedColorOptions">Advanced color options</label>
        <input class="form-check-input" @onclick="ToggleAdvancedSettings" type="checkbox" role="switch" id="advancedColorOptions">
        </div>
    <br />

    <section class="d-flex flex-column align-items-start">

        <div class="d-flex flex-row w-100 group-gap">
            <LinkedHSLControl @ref="PrimaryActivityStatusColorControls[0]"
                OnClick="UpdateSecondaryColorIfNeeded"
                Header="Work - 1"
                Color="ColorBarInputs.WorkColors[0]"
                IsPrimaryColorSelector="true"></LinkedHSLControl>

            <LinkedHSLControl @ref="SecondaryActivityStatusColorControls[0]"
                Header="Work - 2" 
                Color="ColorBarInputs.WorkColors[1]" 
                IsPrimaryColorSelector="false"></LinkedHSLControl>
        </div>

        <div class="d-flex flex-row w-100 group-gap">
            <LinkedHSLControl @ref="PrimaryActivityStatusColorControls[1]"
                        OnClick="UpdateSecondaryColorIfNeeded"
                        Header="Short break - 1"
                        Color="ColorBarInputs.ShortBreakColors[0]"
                        IsPrimaryColorSelector="true"></LinkedHSLControl>

            <LinkedHSLControl @ref="SecondaryActivityStatusColorControls[1]"
                        Header="Short break - 2"
                        Color="ColorBarInputs.ShortBreakColors[1]"
                        IsPrimaryColorSelector="false"></LinkedHSLControl>
        </div>

         <div class="d-flex flex-row w-100 group-gap">
            <LinkedHSLControl @ref="PrimaryActivityStatusColorControls[2]"
                        OnClick="UpdateSecondaryColorIfNeeded"
                        Header="Long break - 1"
                        Color="ColorBarInputs.LongBreakColors[0]"
                        IsPrimaryColorSelector="true"></LinkedHSLControl>

            <LinkedHSLControl @ref="SecondaryActivityStatusColorControls[2]"
                        Header="Long break - 2"
                        Color="ColorBarInputs.LongBreakColors[1]"
                        IsPrimaryColorSelector="false"></LinkedHSLControl>
        </div>
        <button type="button" class="btn default-values-btn" @onclick="GetDefaultActivityBarColorValues">default colors</button>
    </section>
    

    <button class="btn btn-custom-start mb-3" type="submit">Apply</button>
 
</EditForm>