@using CustomPomodoro.Components.Reusable;

@page "/ColorSettings"




<EditForm Model="ColorBarInputs" OnValidSubmit="@Cha" FormName="UpdateColorSettings">

    <h6 class="mb-5">Background Colors</h6>

    <div class="d-flex flex-column mb-3">
                <SoloHSLControl
                    @ref="BgColorControls[0]"
                    Header="Timer not running"
                    Color="BgColorInputs.NoActivityBgColor"></SoloHSLControl>
            
  
                <SoloHSLControl 
                        @ref="BgColorControls[1]"
                        Header="Timer running"
                        Color="BgColorInputs.ActivityInProgressColor"></SoloHSLControl>
  
                <SoloHSLControl 
                        @ref="BgColorControls[2]"
                        Header="Timer paused"
                        Color="BgColorInputs.PausedActivityColor"></SoloHSLControl>
           
        
    </div>


    <h6 class="mb-5">Activity Bar Colors</h6>
    <br />
        <div class="form-check form-switch">
            <label class="form-check-label" for="advancedColorOptions">Advanced color options</label>
        <input class="form-check-input" @onclick="ToggleAdvancedSettings" type="checkbox" role="switch" id="advancedColorOptions">
        </div>
    <br />
    <div class="container text-center">


        <div class="row align-items-start">
@*             <div class="col-6">
                <HSLControl @ref="HslSlider" Header="Work - stage 1" Color="ColorBarInputs.WorkColors[0]"></HSLControl>
            </div> *@

            <!--Single working exaple (above)-->
            <div class="col-6">
                <HSLControl @ref="PrimaryActivityStatusColorControls[0]"
                    OnClick="UpdateSecondaryColorIfNeeded"
                    Header="Work - 1"
                    Color="ColorBarInputs.WorkColors[0]"
                    IsPrimaryColorSelector="true"></HSLControl>
            </div>

            <div class="col-6">
                <HSLControl @ref="SecondaryActivityStatusColorControls[0]"
                    Header="Work - 2" 
                    Color="ColorBarInputs.WorkColors[1]" 
                    IsPrimaryColorSelector="false"></HSLControl>
            </div>

            <!---->

            <div class="col-6">
                <HSLControl @ref="PrimaryActivityStatusColorControls[1]"
                            OnClick="UpdateSecondaryColorIfNeeded"
                            Header="Short break - 1"
                            Color="ColorBarInputs.ShortBreakColors[0]"
                            IsPrimaryColorSelector="true"></HSLControl>
            </div>

            <div class="col-6">
                <HSLControl @ref="SecondaryActivityStatusColorControls[1]"
                            Header="Short break - 2"
                            Color="ColorBarInputs.ShortBreakColors[1]"
                            IsPrimaryColorSelector="false"></HSLControl>
            </div>

            <!---->

            <div class="col-6">
                <HSLControl @ref="PrimaryActivityStatusColorControls[2]"
                            OnClick="UpdateSecondaryColorIfNeeded"
                            Header="Long break - 1"
                            Color="ColorBarInputs.LongBreakColors[0]"
                            IsPrimaryColorSelector="true"></HSLControl>
            </div>

            <div class="col-6">
                <HSLControl @ref="SecondaryActivityStatusColorControls[2]"
                            Header="Long break - 2"
                            Color="ColorBarInputs.LongBreakColors[1]"
                            IsPrimaryColorSelector="false"></HSLControl>
            </div>
        </div>
    </div>

    <button class="btn btn-custom-start" type="submit">Apply</button>
 
</EditForm>



@code{
}