@using CustomPomodoro.Components.Reusable;
@using CustomPomodoro.Models.Helpers.PersistanceLogic.ColorSettings;

@page "/ColorSettings"




<EditForm Model="ColorBarInputs" OnValidSubmit="@(() => @SaveColorSettingsOps.SaveAllColorSettings(BgColorInputs, ColorBarInputs))" FormName="UpdateColorSettings">

    <h4 class="mb-5">Background Colors</h4>

    <section class="d-flex flex-column mb-5">
                <SoloHSLControl
                    @ref="BgColorControls[0]"
                    Header="Timer not running"
                    Color="BgColorInputs.NoActivityBgColor"></SoloHSLControl>
            
                <SoloHSLControl 
                        @ref="BgColorControls[1]"
                        Header="Timer running"
                        Color="BgColorInputs.ActivityInProgressColor"></SoloHSLControl>
  
                <SoloHSLControl 
                        @ref="BgColorControls[2]"
                        Header="Timer paused"
                        Color="BgColorInputs.PausedActivityColor"></SoloHSLControl>
        <button type="button" class="btn default-values-btn" @onclick="GetDefaultBgColorValues">Default colors</button>
    </section>


    <h4 class="preceding-section-header">Activity Bar Colors</h4>
    <br />
        <div class="form-check form-switch">
            <label class="form-check-label" for="advancedColorOptions">Advanced color options</label>
        <input class="form-check-input" @onclick="ToggleAdvancedSettings" type="checkbox" role="switch" id="advancedColorOptions">
        </div>
    <br />

    <section class="d-flex flex-column align-items-start">

        <ConnectedHSLControl 
            @ref="ConnectedActivityStatusColorControls[0]"
            FirstColor="ColorBarInputs.WorkColors[0]"
            FirstColorTitle="Work 1"
            SecondColor="ColorBarInputs.WorkColors[1]"
            SecondColorTitle="Work 2"
            OnInteract="UpdateSecondaryColorIfNeeded">
        </ConnectedHSLControl>

        <ConnectedHSLControl 
            @ref="ConnectedActivityStatusColorControls[1]"
            FirstColor="ColorBarInputs.ShortBreakColors[0]"
            FirstColorTitle="Short break 1"
            SecondColor="ColorBarInputs.ShortBreakColors[1]"
            SecondColorTitle="Short break 2"
            OnInteract="UpdateSecondaryColorIfNeeded">
        </ConnectedHSLControl>

        <ConnectedHSLControl 
            @ref="ConnectedActivityStatusColorControls[2]"
            FirstColor="ColorBarInputs.LongBreakColors[0]"
            FirstColorTitle="Long break 1"
            SecondColor="ColorBarInputs.LongBreakColors[1]"
            SecondColorTitle="Long break 2"
            OnInteract="UpdateSecondaryColorIfNeeded">
        </ConnectedHSLControl>

        <button type="button" class="btn default-values-btn" @onclick="GetDefaultActivityBarColorValues">Default colors</button>
    </section>
    

    <button class="btn btn-custom-start mb-3 mt-5" type="submit">Apply</button>
 
</EditForm>