@using CustomPomodoro.Components.Reusable;

@page "/ColorSettings"

<h6 class="mb-5">Color Settings</h6>


<EditForm Model="ColorBarInputs" OnValidSubmit="@Cha" FormName="UpdateColorSettings">

    <br />
        <div class="form-check form-switch">
            <label class="form-check-label" for="advancedColorOptions">Advanced color options</label>
        <input class="form-check-input" @onclick="ToggleAdvancedSettings" type="checkbox" role="switch" id="advancedColorOptions">
        </div>
    <br />
    <div class="container text-center">


        <div class="row align-items-start">
@*             <div class="col-6">
                <HSLControl @ref="HslSlider" Header="Work - stage 1" Color="ColorBarInputs.WorkColors[0]"></HSLControl>
            </div> *@

            <!--Single working exaple (above)-->
            <div class="col-6">
                <HSLControl @ref="PrimaryActivityStatusColorControls[0]" 
                    Header="Work - 1" 
                    Color="ColorBarInputs.WorkColors[0]" 
                    IsPrimaryColorSelector="true"></HSLControl>
            </div>

            <div class="col-6">
                <HSLControl @ref="SecondaryActivityStatusColorControls[0]" 
                    Header="Work - 2" 
                    Color="ColorBarInputs.WorkColors[1]" 
                    IsPrimaryColorSelector="false"></HSLControl>
            </div>
        </div>
    </div>

    <button class="btn btn-custom-start" type="submit">Apply</button>
 
</EditForm>



@code{
}