@media (max-width: 1199.98px){
    .group-gap{
        gap: 1rem;
    }
}

@media (min-width: 1200px) and (max-width: 1920.98px) {
    .group-gap {
        gap: 8rem;
    }
}

.default-values-btn {
    background-color: #003b8e;
    color: white;
}

.default-values-btn:hover {
    color: lightgray;
}