@page "/"



<section class="text-center">
    <h4>Time left</h4>
    <div class="fs-3 text-danger">04:37</div>
</section>


<button class="btn btn-success">Start</button>
<button class="btn btn-danger">Stop</button>