@using CustomPomodoro.Components.Reusable;
@using CustomPomodoro.Models;
@using CustomPomodoro.Models.Helpers;

@page "/Pomodorosets"

@* <div class="container">
    <div class="row">
        <div class="col-xl-9 col-sm-12 mb-5">
            <PomodoroSetEdit />
        </div>
        <section id="other-sets" class="col-xl-3 col-sm-12 my-5">
            <h4 class="mb-4">My sets</h4>
            <div>
                <PomodoroSetPreview SetsToPreview="UserPomodoroSets" />
            </div>
        </section>
    </div>
</div> *@