@using CustomPomodoro.Components.Reusable;
@using CustomPomodoro.Models;

@page "/Pomodorosets"

<div class="container">
    <div class="row">
        <div class="col-9">
            <PomodoroSetEdit CurSetEdit="TestSet" />
        </div>
        <section id="other-sets" class="col-3">
            <h4 class="mb-4">My sets</h4>
            <div class="bg-secondary">
                <PomodoroSetPreview SetToPreview="TestSet" />
            </div>
        </section>
    </div>
</div>

@code{
    public PomoderoSet TestSet { get; set; } = new();
}