#set-info-UI-display {
    position: relative;
}

#color-bar {
    position: absolute;
    top: 10%;
    left: 38%;
    width: 25vw;
    background-color: #18181b;
    transform: scaleY(50%);
    animation: activity-in-progress infinite 4s ease-in-out normal;
}

/*Note: if you want to let the user customize button colors in the future, switch to using HSL instead of hex values.*/
.btn-session-intervention {
    background-color: #003b8e;
    color: white;
}

.btn-session-intervention:hover {
    color: lightgray;
}

/*.start-btn-nav-visible{
    margin-left: 22%;
}*/

.start-btn-nav-hidden{
    margin-left: 0%;
}


@media (min-width: 645.98px) and (max-width: 810.98px){
    .start-btn-nav-visible {
        margin-left: 22%;
    }
}


@media (min-width: 811.98px) and (max-width: 992px) {
    .start-btn-nav-visible {
        margin-left: 23%;
    }
}


@media (min-width: 991.98px) and (max-width: 1199.98px) {
    .start-btn-nav-visible {
        margin-left: 22%;
    }
}


@media (min-width: 1200px) and (max-width: 1920.98px) {
    .start-btn-nav-visible {
        margin-left: 20%;
    }
}