h1, h2, h3,
h4, h5, h6 {
    color: white;
}

label {
    color: white;
}

input[type='range'] {
    accent-color: #0ea5e9;
}

.linked-color-preview {
    border-radius: 10px;
    border-style: solid;
    border-color: #CDCDCD;
}

@media (max-width: 767.98px) {
    .individual-content {
        max-width: 100%;
    }

    .linked-color-preview {
        padding: 10% 10%;
    }
}

@media (min-width: 767.98px) and (max-width: 992px) {
    .individual-content {
        max-width: 75%;
    }

    .linked-color-preview {
        padding: 7% 7%;
    }
}

@media (min-width: 991.98px) and (max-width: 1199.98px) {
    .individual-content {
        max-width: 60%;
    }

    .linked-color-preview {
        padding: 5% 5%;
    }
}

@media (min-width: 1200px) and (max-width: 1920.98px) {
    .individual-content {
        max-width: 40%;
    }

    .linked-color-preview {
        padding: 5% 5%;
    }
}
