input[type='range'] {
    accent-color: #0ea5e9;
}

.linked-color-preview{
    padding: 4em 1em;
}

@media (max-width: 767.98px) {
    .individual-content {
        max-width: 100%;
    }
}

@media (min-width: 767.98px) and (max-width: 992px) {
    .individual-content {
        max-width: 75%;
    }
}

@media (min-width: 991.98px) and (max-width: 1199.98px) {
    .individual-content {
        max-width: 60%;
    }
}

@media (min-width: 1200px) and (max-width: 1920.98px) {
    .individual-content {
        max-width: 40%;
    }
}