@using CustomPomodoro.Models;

@foreach(PomodoroSet set in SetsToPreview)
{
    <div id="@set.Id">
        <h5 class="fw">@set.Name</h5>
    </div>
}



@code {
    [Parameter]
    public List<PomodoroSet> SetsToPreview { get; set; }
}
