@using CustomPomodoro.Models;

@foreach(PomoderoSet set in SetsToPreview)
{
    <div id="@set.Id">
        <h5 class="fw">@set.Name</h5>
    </div>
}



@code {
    [Parameter]
    public List<PomoderoSet> SetsToPreview { get; set; }
}
