@using CustomPomodoro.Models

@if (CurSetEdit.Name != null)
{
    <h3 class="mb-4">@CurSetEdit.Name</h3>
}
else
{
    <h3 class="mb-4">Create a set</h3>
}


<EditForm Model="CurSetEdit" OnValidSubmit="@SaveSetInfo" FormName="SaveSetInfoForm">
    <input type="hidden" @bind-value="CurSetEdit.Id" />

    <div class="mb-3 row">
        <label for="set-name-inupt" class="col-sm-3 col-form-label">Set name</label>
        <div class="col-sm-2">
            <InputText id="set-name-input" @bind-Value="CurSetEdit.Name" class="form-control"></InputText>
        </div>
    </div>

    <div class="mb-3 row">
        <label for="worktime-input" class="col-sm-3 col-form-label">Work time</label>
        <div class="col-sm-2">
            <InputText id="worktime-input" @bind-Value="CurSetEdit.WorkTime" class="form-control"></InputText>
        </div>
    </div>

    <div class="mb-3 row">
        <label for="short-break-input" class="col-sm-3 col-form-label">Short break time</label>
        <div class="col-sm-2">
            <InputText id="short-break-input" @bind-Value="CurSetEdit.ShortBreak" class="form-control"></InputText>
        </div>
    </div>

    <div class="mb-3 row">
        <label for="work-reps-input" class="col-sm-3 col-form-label">Work reps (before long break)</label>
        <div class="col-sm-2">
            <InputNumber id="work-reps-input" @bind-Value="CurSetEdit.SessionReps" class="form-control"></InputNumber>
        </div>
    </div>

    <div class="mb-3 row">
        <label for="long-break-input" class="col-sm-3 col-form-label">Long break time</label>
        <div class="col-sm-2">
            <InputText id="long-break-input" @bind-Value="CurSetEdit.LongBreak" class="form-control"></InputText>
        </div>
    </div>
   
    <button class="btn btn-custom-start" type="submit">Save</button>
</EditForm>