@using CustomPomodoro.Models;

@{
    if (SetsToPreview.Count > 0)
    {

        foreach (PomodoroSet set in SetsToPreview)
        {
            <div id="@set.Id">
                <h5 class="fw">@set.Name</h5>
            </div>
        }

    }
    else
    {
        <p class="fst-italic">(You don't have any sets.)</p>
    }
}



@code {
    [Parameter]
    public List<PomodoroSet> SetsToPreview { get; set; }
}
