input[type='range'] {
    accent-color: #0ea5e9;
}

.color-preview {
    padding: 4rem 5rem;
}

@media (max-width: 767.98px) {
    .prime-content {
        max-width: 100%;
    }

}

@media (min-width: 767.98px) and (max-width: 992px){
    .prime-content{
        max-width: 75%;
    }
}

@media (min-width: 991.98px) and (max-width: 1199.98px){
    .prime-content{
        max-width: 55%;
    }
}

@media (min-width: 1200px) and (max-width: 1920.98px){
    .prime-content{
        max-width: 40%;
    }
    
}