h1, h2, h3,
h4, h5, h6{
    color:white;
}

label{
    color:white;
}

input[type='range'] {
    accent-color: #0ea5e9;
}

.color-preview {
    border-radius: 10px;
    border-style: solid;
    border-color: #CDCDCD;
}

@media (max-width: 767.98px) {
    .prime-content {
        max-width: 100%;
    }
    .color-preview {
        padding: 14% 8%;
    }  
}

@media (min-width: 767.98px) and (max-width: 992px){
    .prime-content{
        max-width: 75%;
    }
    .color-preview {
        padding: 15% 10%;
    }  
}

@media (min-width: 991.98px) and (max-width: 1199.98px){
    .prime-content{
        max-width: 55%;
    }
    .color-preview {
        padding: 17% 12%;
    }  
}

@media (min-width: 1200px) and (max-width: 1920.98px){
    .prime-content{
        max-width: 40%;
    }
    .color-preview {
        padding: 17% 14%;
    }   
}