@using CustomPomodoro.Models;

<section class="my-5">
    <div class="text-start prime-content">
        @{
            if (Header != string.Empty)
            {
                <h3 class="text-start">@Header</h3>
            }
        }
        <div class="border border-2 rounded">
            <div class="p-5" style="background-color:hsl(@Color.Hue, @Color.Saturation%, @Color.Lightness%);">
            </div>
        </div>
        <div class="d-flex flex-column text-start custom-slider mt-1">
            <div class="d-flex flex-row">
                <label class="col-3">Hue</label>
                <input class="col-9" type="range" @bind="Color.Hue" min="0" max="360" />
            </div>

            <div class="d-flex flex-row">
                <label class="col-3">Saturation</label>
                <input class="col-9 " type="range" @bind="Color.Saturation" min="0" max="100" />
            </div>

            <div class="d-flex flex-row">
                <label class="col-3">Light</label>
                <input class="col-9" type="range" @bind="Color.Lightness" min="0" max="100" />
            </div>
        </div>
    </div>
</section>